.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-container > *:not(.header-container):not(.footer-container) {
  width: min(960px, calc(100% - 2rem));
  margin: 2rem auto;
}
